// Font
$base-font-family: 'OpenSans';
$base-font-family-title: 'Copperplate';
$base-font-size: 20px;

// Colors
$clr-default: #00151e;
$clr-invert: #fff;

// Paths
/*$img: '../images/';
$img-icons: '../images/icons/';
*/

// Misc
$padding: 15px;
$transition: all 0.3s ease 0s;
$transition2: all 0.5s ease 0s;

// Breakpoints 
/*$bp-huge: 2000px;
$bp-big: 1500px;
$bp-wide: 1200px;
$bp-medium: 960px;
$bp-small: 768px;*/

